@page
@model CoffeeStore.Pages.CartModel
@using System.Globalization
@{
    ViewData["Title"] = "Giỏ hàng của bạn";
    Layout = "_CartLayout.cshtml";
}
<style>

    .product-img {
        width: 100px; /* Đặt chiều rộng của hình ảnh */
        height: auto; /* Giữ tỉ lệ khung hình của hình ảnh */
    }
</style>

<link rel="stylesheet" href="~/css/style.css" />
<h4 class="title text-center mt-3 rainbow-title">
    Giỏ hàng của bạn <i class="p-1 fas fa-shopping-cart"></i>
</h4>
<table class="table table-bordered table-striped" style="background-color:antiquewhite">
    <thead>
        <tr>
            <th>Số lượng</th>
            <th>Sản phẩm</th>
            <th>Hình ảnh</th>
            <th class="text-right">Giá</th>
            <th class="text-right">Tổng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">
                    <form asp-page-handler="UpdateQuantity" method="post">
                        <input type="hidden" name="ProductID" value="@line.Product.ProductID" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <input type="number" name="quantity" value="@line.Quantity" min="1" class="form-control" style="width: 100px;" onchange="this.form.submit();" />
                    </form>
                </td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-left"><img src="@line.Product.ImageURL" alt="@line.Product.Name" class="product-img" /></td>
                <td class="text-right">@((line.Product.Price).ToString("N0", new CultureInfo("vi-VN")).Replace(",", "."))</td>
                <td class="text-right total-price">@((line.Quantity * line.Product.Price).ToString("N0", new CultureInfo("vi-VN")).Replace(",", "."))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductID" value="@line.Product.ProductID" />
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Tổng cộng:</td>
            <td class="text-right" id="total-value">@((Model.Cart.ComputeTotalValue()).ToString("N0", new CultureInfo("vi-VN")).Replace(",", "."))</td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" style="background-color:brown;border:0px;" href="@Model?.ReturnUrl">Tiếp tục mua hàng</a>
    <a class="btn btn-primary" style="background-color:brown ;border:0px ;" asp-action="Checkout" asp-controller="Order">Hoàn thành đơn hàng</a>
</div>
