@model List<CoffeeStore.Models.Order>
@using System.Globalization
@{
    ViewBag.Title = "Lịch sử đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Đường dẫn tới layout chung
}

<h2 class="title text-center mt-3">Lịch sử đơn hàng</h2>

@if (Model != null && Model.Count > 0)
{
    <p>Bạn đã có @Model.Count đơn hàng.</p>

    <div class="container mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Đơn hàng số</th>
                    <th>Ngày đặt hàng</th>
                    <th>Sản phẩm</th>
                    <th>Tổng số tiền</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.OrderID</td>
                        <td>@order.OrderDate.ToString("dd/MM/yyyy HH:mm")</td>
                        <td>
                            <ul>
                                @foreach (var line in order.Lines)
                                {
                                    <li>@line.Product.Name (Số lượng: @line.Quantity)</li>
                                }
                            </ul>
                        </td>
                        <td>@order.TotalAmount.ToString("N0", new CultureInfo("vi-VN")).Replace(",", ".")</td>
                        <td>
                            @if (order.Shipped)
                            {
                                <span class="badge bg-success m-2">Đã nhận đơn hàng</span>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-sm m-2" disabled>Đã nhận đơn hàng</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning mt-4" role="alert">
        Không có đơn hàng nào được tìm thấy.
    </div>
}
